extends ../../_component/layout/template

block cool-config
  -
      var myTitle = 'Learn why to use CSS';
      var myDescription = 'Why Use CSS?';
      var landingPage = 'CSS';
      var activeLink = '/css/why-use-css';

block awesome-content
      h1=myTitle
      p=myDescription
      p CSS background properties:
      ul.listStyle
            li background-color
            li background-image
            li background-repeat
            li background-attachment
            li background-position

