extends ../../_component/layout/template

block cool-config
  -
      var myTitle = 'CSS stands for Cascading Style Sheets';
      var myDescription = 'Here you will find why CSS is a good choice for designers';
      var landingPage = 'CSS';
      var activeLink = '/css/what-is-css';

block awesome-content
      h1=myTitle
      p=myDescription
      
