extends ../_component/layout/template

block cool-config
  -
      var myTitle = 'Learn how CSS works';
      var myDescription = 'CSS is super awesome and customizable';
      var landingPage = 'CSS';
      var activeLink = '';

block awesome-content
      h1=myTitle
      p=myDescription
      h2 What is CSS?
      li CSS stands for Cascading Style Sheets
      li CSS describes how HTML elements are to be displayed on screen, paper, or in other media
      li CSS saves a lot of work. It can control the layout of multiple web pages all at once
      li External stylesheets are stored in CSS files
      h2 Why Use CSS?
      p CSS is used to define styles for your web pages, including the design, layout and variations in display for different devices and screen sizes. 
      h2 CSS Saves a Lot of Work!
      p The style definitions are normally saved in external .css files. With an external stylesheet file, you can change the look of an entire website by changing just one file!



